<p>registration works!</p>
<form action="">
    <div class="form-group">
        <label for="">firstnmae</label>
    </div>
    <div>
        <input type="text" name="firstname" class="form-control">
    </div>
    <div class="form-group">
        <label for="">lastnmae</label>
    </div>
    <div>
        <input type="text" name="lastnmae" class="form-control">
    </div>
    <div class="form-group">
        <label for="">email</label>
    </div>
    <div>
        <input type="text" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="">password</label>
    </div>
    <div>
        <input type="text" name="password" class="form-control">
    </div>
    <button>save</button>
</form>